<!DOCTYPE html>
<html>

<head>
	{% if title %}
	<title>Blogku -{{ title }}</title>
	{% else %}
	<title>Blogku</title>
	{% endif %}
</head>

<body>
	{% extends "layout.html" %}

	{% block content%}
	{% for post in posts %}
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="#">{{ post.penulis }}</a>
				<small class="text-muted">{{ post.tgl_post }}</small>
			</div>
			<h2><a class="article-title" href="#">{{ post.title }}</a></h2>
			<p class="article-content">{{ post.konten }}</p>
		</div>
	</article>
	{% endfor %}
	{% endblock content %}
</body>

</html>